PORT= //Port number
MONGODB_USER= // mongodb username
MONGODB_PASSWORD= // mongodb password
MONGODB_URL= // db url
MONGODB_DB= // db name
SMTP_HOST= // smtp host
SMTP_PORT= // smtp port
SMTP_USER= // smtp user
SMTP_PASSWORD= // smtp password
SMTP_FROM= // smtp from
JWT_SECRET= // jwt password
APP_DOMAIN= // localhost
CLOUDINARY_NAME= // cl name
CLOUDINARY_API_KEY= // cl key
CLOUDINARY_API_SECRET= // cl pwd